---
layout: project
---

.row-fluid
  .row-fluid
    .hero-unit
      %h1 What is CapeDwarf?
      %p 
        CapeDwarf is an extension of the JBoss' WildFly Application Server which allows you to deploy applications written for
        the Google App Engine on your own private cluster or on RedHat's OpenShift cloud without any modifications.
  .row-fluid
    .well.post-bg
      .row-fluid
        %h3
          -#%img.pull-left{:src=>"#{site.base_url}/images/wildfly-icons-bolt_45px.png"}
          CapeDwarf as an alternative to the Google App Engine
      .row-fluid
        .span6
          %h4 Migrate from GAE to CapeDwarf and back
          %p
            CapeDwarf implements all the APIs of the Google App Engine, such as the Datastore API, the Search and Prospective Search API,
            the Users API, Tasks API and all the rest. This means applications that use these APIs can be migrated to CapeDwarf
            without needing to be modified in any way. Full compatibility with GAE APIs also means your apps can initially be
            deployed on CapeDwarf and then later migrated to Google App Engine.
        .span6
          %h4 Ensuring full compatibility between CapeDwarf and GAE
          %p
            When initially implementing the APIs, we needed to create tests that would help us make sure our implementation of
            the APIs is behaving exactly like that in Google App Engine. These tests later became the base of the new App Engine
            TCK project, which we are working on together with Google. The App Engine TCK project is a set of tests that check
            whether a specific implementation of the GAE APIs is behaving exactly like the implementation available on Google's
            AppSpot.
      .row-fluid
        %p
      .row-fluid
        %h3
          -#%img.pull-left{:src=>"#{site.base_url}/images/wildfly-icons-compliant_45px.png"}
          Bridging the gap between GAE and JavaEE
      .row-fluid
        .span6
          %h4 From GAE to JavaEE
          %p If you have a GAE app that you would now like to convert into a JavaEE app, CapeDwarf can help bridge the initial gap between GAE and JavaEE.
          %p Deploying your app on CapeDwarf will allow you to gradually migrate away from GAE APIs towards JavaEE APIs. Being built on Wildfly, a certified JavaEE application server, CapeDwarf is both a JavaEE and a GAE server.
          %p Parts of your app can still use GAE APIs, while other parts can use services provided by JavaEE.
        .span6
          %h4 From JavaEE to GAE
          %p If you have a Java EE application that you have decided to migrate to Google App Engine, CapeDwarf is just the thing you need. Since CapeDwarf is built on top of Wildfly, which is Java EE certified, you can deploy your app on CapeDwarf and then gradually migrate parts of your app away from Java EE and towards Google App Engine. Once you've migrated all the parts, your app will be deployable to GAE.
      .row-fluid
        %p
      .row-fluid
        %h3 
          -#%img.pull-left{:src=>"#{site.base_url}/images/wildfly-icons-feather_45px.png"}
          Based on proven JBoss technologies
      .row-fluid
        .span6
          %h4 CapeDwarf as the integration layer
          %p
            The CapeDwarf team did not implement all the APIs from scratch, but rather took existing JBoss technologies and
            products and simply exposed them to GAE applications through the GAE APIs. CapeDwarf relies heavily on the JBoss'
            data grid technology called Infinispan, which uses JGroups and Hibernate-Search. Other technologies used by
            CapeDwarf include PicketLink, HornetQ and others. Applications deployed on CapeDwarf use these technologies without
            even being aware of it.
        .span6
          %h4 Based on the new WildFly Application Server
          %p
            The WildFly 8 Application Server is based on the well known JBoss Application Server 7, which is very well known in
            the Java Enterprise world. This means CapeDwarf offers an enterprise-grade runtime environment, ensuring your
            applications run smoothly.
      .row-fluid
        .span3
          %ul.list-with-icons
            %li
              %i.project-icon-med.wildfly_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.wildfly.org"}
                WildFly
            %li
              %i.project-icon-med.infinispan_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.jboss.org/infinispan"}
                Infinispan
            %li
              %i.project-icon-med.hibernate_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.hibernate.org/search"}
                Hibernate Search
        .span3
          %ul.list-with-icons
            %li
              %i.project-icon-med.hornetQ_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.jboss.org/hornetq"}
                HornetQ
            %li
              %i.project-icon-med.jgroups_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.jboss.org/jgroups"}
                JGroups
            %li
              %i.project-icon-med.picketlink_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.picketlink.org"}
                PicketLink
        .span3
          %ul.list-with-icons
            %li
              %i.project-icon-med.ironjacamar_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.jboss.org/ironjacamar"}
                IronJacamar
            %li
              %i.project-icon-med.resteasy_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.jboss.org/resteasy"}
                RESTEasy
            %li
              %i.project-icon-med.weld_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://weld.cdi-spec.org"}
                Weld
        .span3
          %ul.list-with-icons
            %li
              %i.project-icon-med.arquillian_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.arquillian.org"}
                Arquillian
            %li
              %i.project-icon-med.shrinkwrap_icon_16x{:style=>"width: 16px; min-height: 16px; height: 16px;"}
              %a.middle{ :href=>"http://www.jboss.org/shrinkwrap"}
                ShrinkWrap
            %li
              %div.pull-left{:style=>"width: 21px; height: 16px;"}
              And more ...
      .row-fluid
        %p
      .row-fluid
        %h3 
          -#%img.pull-left{:src=>"#{site.base_url}/images/wildfly-icons-admin_45px.png"}
          The Team
      .row-fluid
        .span6
          %h4 The core team
          %p
            %a{ :href=>"https://github.com/alesj"}Aleš Justin
            founded the project and is serving as the project leading. He has been part of JBoss/RedHat since 2006 and has worked on and led multiple JBoss projects.
          %p
            %a{ :href=>"https://github.com/luksa"}Marko Lukša
            joined RedHat in 2012 to work on CapeDwarf and Weld (the reference implementation of CDI). As part of his work on CapeDwarf, he has also contributed to the Infinispan project.
        .span6
          %h4 Contributors
          %p Matej Lazar
          %p Tomaž Cerar
          %p Marko Štrukelj
      .row-fluid
        %p

