---
layout: project
---

.row-fluid
  .row-fluid
    .hero-unit
      %h1 Try CapeDwarf
      %p
        CapeDwarf is an open-source alternative to Google App Engine, allowing you to run applications written for the Google
        App Engine on the WildFly Application Server without modification.

      .text-center
        %a.btn.btn-large.btn-success.hero-button{ :href=>"http://download.jboss.org/capedwarf/CapeDwarf_WildFly_2.0.0.CR5.zip"}Download 2.0.0.CR5
        %a.btn.btn-large.hero-button{ :href=>"documentation/getting-started"}Getting started


/ section containing blog posts
.row-fluid
  = partial( 'latest-news.html.haml', {"real_page" => page} )
  = partial( 'tweets.html.haml' )

