.span6.well
  %h2 Tweets about #CapeDwarf
  %a{"class" => "twitter-timeline", "data-dnt" => "true", "href" => "https://twitter.com/search?q=%23capedwarf", "data-widget-id" => "437243336567422976", "data-chrome" => "nofooter transparent noheader", "data-link-color" => "#336699"}Tweets about #CapeDwarf
  %script{:type => 'text/javascript'}
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

